<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SmaSchedulerDb"
         connectionString="Data Source=SERVERNAME;Initial Catalog=SMAScheduler;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
